<p-card
  class="w-[300px] h-[520px] flex flex-col justify-between"
  *ngIf="product() !== null"
>
  <ng-template #header>
    <div
      class="w-full h-[250px] flex items-center justify-center overflow-hidden"
    >
      <img
        [src]="productImage"
        alt="product image"
      />
    </div>
  </ng-template>

  <ng-template #content>
    <div class="flex flex-col gap-2">
      <p>
        <strong>{{ productGet?.name }}</strong>
      </p>
      <div class="w-full">
        <p
          class="line-clamp-2 text-sm break-words text-gray-700 dark:text-gray-300"
        >
          {{ productGet?.description }}
        </p>
      </div>
      <p class="text-gray-500 text-sm" *ngIf="productType(productGet)">
        {{ productGet.user.name }}
      </p>
      <div class="flex items-center gap-1">
        <i class="pi pi-indian-rupee text-sm"></i>
        <p class="text-sm font-medium">{{ productGet?.price }}</p>
      </div>
    </div>
  </ng-template>

  <ng-template #footer>
    <ng-content></ng-content>
  </ng-template>
</p-card>
