<div class="flex flex-col items-center py-6 animate-fade-in">
  <div class="flex items-center mb-6">
    <span class="text-4xl text-teal-800">📦</span>
    <h1 class="text-2xl font-semibold text-gray-900 dark:text-white ml-2">
      Smart Stock
    </h1>
  </div>
  <div class="w-full">
    <div class="flex flex-col sm:flex-row gap-4 mb-6">
      <div
        class="flex-1 bg-white border border-gray-400 dark:bg-gray-600 p-3 rounded-lg shadow-sm"
      >
        <h2 class="text-base font-medium text-gray-900 dark:text-white">
          Total Products
        </h2>
        <p class="text-2xl font-bold text-teal-600 dark:text-white">
          {{ productsData.length }}
        </p>
      </div>
      <div
        class="flex-1 border border-gray-400 bg-white dark:bg-gray-600 p-3 rounded-lg shadow-sm"
      >
        <h2 class="text-base font-medium text-gray-900 dark:text-white">
          Low Stock
        </h2>
        <p class="text-2xl font-bold text-pink-500 dark:text-white">
          {{ lowStockProducts() }}
        </p>
      </div>
      <div
        class="flex-1 bg-white dark:bg-gray-600 border border-gray-400 p-3 rounded-lg shadow-sm"
      >
        <h2 class="text-base font-medium text-gray-900 dark:text-white">
          Sales Today
        </h2>
        <p class="text-2xl font-bold text-teal-600 dark:text-white">
          {{ salesToday }}
        </p>
      </div>
    </div>
    <h2 class="text-lg font-medium text-gray-900 mb-4">Low Stock Alerts</h2>
    <div class="w-full overflow-x-auto">
      <table class="w-full text-sm text-gray-900 dark:text-white">
        <thead>
          <tr class="border-b border-gray-300">
            <th class="p-2 text-left">Name</th>
            <th class="p-2 text-left">Qty</th>
            <th class="p-2 text-left">Prediction</th>
            <th class="p-2 text-left">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let product of productsData"
            class="border-b border-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 transition"
          >
            <td class="p-2">{{ product.name }}</td>
            <td class="p-2">
              {{ product.quantity }}
              <span
                *ngIf="product.quantity < product.threshold"
                class="text-pink-500"
                >⚠️</span
              >
            </td>
            <td class="p-2">{{ "N/A" }}</td>
            <td class="p-2">
              <button
                class="bg-teal-600 text-white py-1 px-3 rounded-full hover:bg-teal-700 transition text-xs"
              >
                Reorder
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button
      class="w-full sm:w-auto mt-6 bg-teal-600 text-white py-2 px-4 rounded-full hover:bg-teal-700 transition text-sm"
      (click)="onAddProduct()"
    >
      Add Product
    </button>
  </div>
</div>
