<div class="flex flex-col lg:flex-row gap-4 p-4 rounded-xl shadow bg-white dark:bg-[#1a1818]">
  <div class="flex-shrink-0">
    <div class="w-full h-[250px] flex items-center justify-center overflow-hidden">
      <img class="max-h-full max-w-full object-contain" [src]="image" />
    </div>
  </div>
  <div class="flex flex-col flex-1 min-w-0 gap-2">
    <p>{{ name }}</p>
    <p class="line-clamp-2 min-w-0 max-w-full text-gray-600">
      {{ description }}
    </p>
    <p class="text-gray-400">{{ user }}</p>
    <p class="font-bold">
      <i class="pi pi-indian-rupee" style="font-size: 15px"></i>
      {{ price * product().quantity }}
    </p>
    <div class="flex lg:flex-col gap-4">
      <div class="flex items-center gap-3">
        <p>Quantity:</p>
        <p-inputgroup>
          <p-inputgroup-addon>
            <p-button (onClick)="decreaseQuantity()" icon="pi pi-minus" [fluid]="true" size="small"
              severity="secondary">
            </p-button>
          </p-inputgroup-addon>
          <input [(ngModel)]="product().quantity" pInputText [value]="product().quantity" pSize="small" type="number"
            [min]="1" />
          <p-inputgroup-addon>
            <p-button (onClick)="increaseQuantity()" icon="pi pi-plus" size="small" [fluid]="true" severity="secondary">
            </p-button>
          </p-inputgroup-addon>
        </p-inputgroup>
      </div>
      <div>
        <p-button [fluid]="true" icon="pi pi-trash" (click)="removeItem(product())" label="Remove" size="small"
          severity="secondary">
        </p-button>
      </div>
    </div>
  </div>
</div>
