<div
  class="animate-fade-in min-h-screen bg-gradient-to-b from-purple-100 to-green-50 flex flex-col items-center px-4 py-6 pb-16">
  <div class="flex items-center mb-6">
    <span class="text-4xl text-teal-800">👤</span>
    <h1 class="text-2xl font-semibold text-gray-900 ml-2">{{ userName }}</h1>
  </div>
  <div class="w-full max-w-md">
    <!-- Profile Info -->
    <div class="mb-6">
      <h2 class="text-lg font-medium text-gray-900 mb-3">Profile Info</h2>
      <div class="flex items-center justify-between mb-2">
        <div class="flex items-center">
          <span class="text-3xl text-gray-400 mr-3">📷</span>
          <p class="text-sm text-gray-700">Upload Photo</p>
        </div>
        <p-button size="small" class="text-teal-600 text-xs hover:underline" (click)="onUploadPhoto()">
          Change
        </p-button>
      </div>
      <div class="flex items-center justify-between mb-2">
        <div class="w-full">
          <label class="block text-sm font-medium text-gray-900">Name</label>
          <div class="flex items-center justify-between gap-8">
            <input pInputText pSize="small" [(ngModel)]="userName" [disabled]="!isEditingName"
              placeholder="Enter your name" />
            <p-button size="small" [fluid]="true" class="text-teal-600 text-xs hover:underline"
              (click)="toggleEditName()">
              {{ isEditingName ? "Cancel" : "Edit" }}
            </p-button>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-between w-full">
        <div class="w-full">
          <label class="block text-sm font-medium text-gray-900">Email</label>
          <div class="flex items-center justify-between gap-8">
            <input pInputText pSize="small" [disabled]="!isEditingEmail" [(ngModel)]="userEmail" type="email"
              placeholder="Enter your email" />
            <p-button size="small" [fluid]="true" class="text-teal-600 text-xs hover:underline"
              (click)="toggleEditEmail()">
              {{ isEditingEmail ? "Cancel" : "Edit" }}
            </p-button>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <p class="text-sm text-gray-700">
          Total Products Managed: {{ totalProducts }}
        </p>
      </div>
    </div>

    <!-- Preferences -->
    <div class="mb-6">
      <h2 class="text-lg font-medium text-gray-900 mb-3">Preferences</h2>
      <div class="flex flex-col gap-3">
        <div class="flex items-center justify-between">
          <label class="text-sm font-medium text-gray-900">Low Stock Threshold : <strong>{{ lowStockThreshold
              }}</strong>
          </label>
          <p-button size="small" [fluid]="true" class="text-teal-600 text-xs hover:underline"
            (click)="toggleEditThreshold()">
            {{ isEditingThreshold ? "Cancel" : "Edit" }}
          </p-button>
        </div>
        <input *ngIf="isEditingThreshold" [(ngModel)]="lowStockThreshold" type="number"
          class="w-full p-2 border-0 border-b border-gray-300 bg-transparent focus:border-teal-500 text-sm"
          placeholder="Enter threshold" />
        <div class="flex items-center justify-between">
          <label class="text-sm font-medium text-gray-900">Auto-Reorder</label>
          <p-checkbox size="small" [binary]="true" [(ngModel)]="autoReorder"
            (change)="onToggleAutoReorder()"></p-checkbox>
        </div>
        <div class="flex items-center justify-between">
          <label class="text-sm font-medium text-gray-900">Notifications</label>
          <p-select size="small" [(ngModel)]="notificationPreference" [options]="['email', 'push', 'both']">
          </p-select>
        </div>
      </div>
    </div>

    <!-- Appearance -->
    <div class="mb-6">
      <h2 class="text-lg font-medium text-gray-900 mb-3">Appearance</h2>
      <div class="flex items-center justify-between">
        <label class="text-sm font-medium text-gray-900">Theme</label>
        <p-select size="small" (change)="onChangeTheme()" [(ngModel)]="theme" [options]="['light', 'dark']"></p-select>
      </div>
    </div>

    <!-- Account Actions -->
    <div>
      <h2 class="text-lg font-medium text-gray-900 mb-3">Account</h2>
      <div class="flex flex-col gap-4">
        <p-button [fluid]="true" size="small" (click)="onChangePassword()">
          Change Password
        </p-button>
        <p-button [fluid]="true" size="small" severity="danger" (click)="onLogout()">
          Log Out
        </p-button>
      </div>
    </div>
  </div>
</div>
