<div class="flex justify-around items-center h-full p-3 bg-white dark:bg-[#1a1818]">
  <a routerLink="/user/inventory" routerLinkActive="active-icon" class="cursor-pointer p-2 relative">
    <i class="pi pi-list"></i>
  </a>
  <a routerLink="/user/shop" routerLinkActive="active-icon" class="cursor-pointer p-2 relative">
    <i class="pi pi-shop"></i>
  </a>
  <a routerLink="/user/dashboard" routerLinkActive="active-icon" class="cursor-pointer p-2 relative">
    <i class="pi pi-home"></i>
  </a>
  <a routerLink="/user/orders" routerLinkActive="active-icon" class="cursor-pointer p-2 relative">
    <i class="pi pi-truck"></i>
  </a>
  <a routerLink="/user/profile" routerLinkActive="active-icon" class="cursor-pointer p-2 relative">
    <i class="pi pi-user"></i>
  </a>
</div>
