<div class="p-4 w-full mx-auto">
  <!-- Toggle Buttons -->
  <div class="flex justify-center space-x-4 mb-6">
    <button
      (click)="switchTab('myOrders')"
      class="md:px-6 md:py-2 px-4 py-1 rounded-full font-medium border transition-all duration-200"
      [ngClass]="{
        'bg-blue-600 text-white border-blue-600 shadow-md':
          currentTab === 'myOrders',
        'bg-transparent text-gray-500 border-gray-600 hover:text-gray-200 hover:bg-gray-700':
          currentTab !== 'myOrders',
      }"
    >
      My Orders
    </button>

    <button
      (click)="switchTab('requestedOrders')"
      class="md:px-6 px-4 md:py-2 py-1 rounded-full font-medium border transition-all duration-200"
      [ngClass]="{
        'bg-blue-600 text-white border-blue-600 shadow-md':
          currentTab === 'requestedOrders',
        'bg-transparent text-gray-500 border-gray-600 hover:text-gray-200 hover:bg-gray-700':
          currentTab !== 'requestedOrders',
      }"
    >
      Requested Orders
    </button>
  </div>

  <!-- Tab Contents -->
  <div class="min-h-[400px]">
    <!-- My Orders Tab -->
    <ng-container *ngIf="currentTab === 'myOrders'">
      <app-my-orders />
    </ng-container>

    <!-- Requested Orders Tab -->

    <ng-container *ngIf="currentTab === 'requestedOrders'">
      <div *ngFor="let order of requestOrders; let i = index">
        <app-requested-orders [requestOrder]="order" />
      </div>
    </ng-container>
  </div>

  <ng-template #noOrders>
    <p class="text-center text-gray-400 mt-10">No orders found.</p>
  </ng-template>

  <ng-template #noRequested>
    <p class="text-center text-gray-400 mt-10">No requested orders found.</p>
  </ng-template>
</div>
