<div>
  <div class="sticky bottom-0 mb-3 bg-white dark:bg-[#1a1818] p-4 shadow z-10">
    <div class="flex justify-between items-center">
      <p class="text-xl font-bold">Total Amount : {{ totalPrice | async }}</p>
      <p-button
        *ngIf="totalPrice | async"
        label="Buy Now"
        severity="contrast"
        size="small"
      ></p-button>
    </div>
  </div>
  <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
    <app-cart-item
      *ngFor="let cartItem of cart | async"
      [product]="cartItem"
    ></app-cart-item>
  </div>
</div>
